@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:600';

/* App container*/

* {
margin: 0;
padding:0;
border:0;
}


html,body,.appContainer,.appContainer1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100%;
  color:white;
  background: #19b5fe;
  height:100%;
}


/* End of App container*/

/* Nav bar*/

nav.header{
  border-bottom: 2px solid white;
  position:relative;
}


img.three_voters{
  height:36px;
  float:left;
}

a.signin{
  cursor:pointer;
  color:white;
}

.welcomeNote{
position:absolute;
bottom: 0;
left:30%
}


.nav-link {
  text-decoration: none;
  color:white;
  position: relative;
  text-decoration:none
}
.nav-link:hover{
  color:white
}

.nav-link::after {
  content: '';
  position: absolute;
  top:55%;
  width: 0;
  right: 0;
  height: 3%;
  background: white;
  transition:width 0.45s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-item:not(:last-child){
    border-right:solid 1px white;  /* This will not give border to last li element */
    padding-right:12px;
}


/*Nav bar end */

/*homepage */

.homepageWrapper{
  text-align:center;
}

.homepageWrapper #vote_logo{
  width:30%;
  margin-top:20px;
}

.homepageWrapper #casting_ballot_img{
  width:15%;
  margin-top:30px;
}

.homepageWrapper .introText{
  margin-top:30px;
  margin-bottom: 20px;
}

.homepageWrapper > .signUpButton{
  margin: 20px 0 20px 0 !important;
  background: white;
  color:#19b5fe;
  font-size:28px;
  border-radius: 5px;
  cursor: pointer;
  padding:4px 5px 4px 5px !important;
  text-decoration: none;
}

.signUpButton:hover{
  box-shadow: 3px 3px 3px #888888;
}


/*homepage end */

/* view polls */

.viewPollContainer{
  float:left;
  width:30%;
 margin-left:35%;
 list-style-type:none;
}

.viewPollContainer > li:first-child{
  border-radius: 4px 4px 0 0;
  border-width: 4px 4px 2px 4px
}

.viewPollContainer > li:last-child{
  border-radius:0 0 4px 4px;
  border-bottom: 4px solid white;
}

.viewPollItems{
  border:solid white;
  color:white;
  margin-bottom: -2px;
  border-width: 2px 4px 2px 4px;
  padding-top: 7px;
}


/* view polls end */



/*show poll view */
.showPollView{
background: white;
color:black;
}

.showPollView > h1{
  color:black;
  font-size:70px !important;
}

.pollWrappedContainers{
  overflow:auto;
  display:flex;
}

.leftPollContainer{
float:left;
width:60%;
}

.rightPollContainer{
  position:relative;
float:right;
width:40%;
align-items: stretch;
flex: 1;
}

canvas{
  width:500px;
  height:500px;
  padding-bottom: 20px;
}

.chartImg{
  height:50px;
  padding-bottom:5px;
  margin-left:10px;
}

.pollTitle{
  text-align: center;
}

.voteFormWrapper{
  border:4px solid black;
  width:45%;
  float:right;
  margin:2% 30% 2% 0;
  border-radius: 7px;
  clear:both;
  text-align: center;
}

.voteForm{
  margin-bottom: 10px;
  margin-top: 20px;
}

#voteSelect{
  border:1px solid #19b5fe;
  width:60%;
}

option[default] {
   display: none;
}

.submitButton{
  background:#19b5fe!important;

}

.submitButton:hover{
  color:#003366  !important;
}

.keyTable{
  border:4px solid black;
  min-width:30%;
  float:left;
  border-radius: 7px;
  margin-top:30px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.keyTable> h3{
  text-align: center;
}

.keyColour{
  width:20px;
  height:20px;
  float:left;
  margin-left:10px;
}

.keyItem{
  margin-left: 10px;
}

.keyVotes{
  float:right;
  margin-right: 20px;
  margin-left: 10px;
}

.newItemWrapper{
  border:4px solid black;
  width:70%;
  margin:2% 50% 2% 0;
  border-radius: 7px;
  float:left;
  text-align: center;

}


.newItemInput{
  border:1px solid #19b5fe;

}

input[type="text"]{
  border: 1px solid #19b5fe;
    width:60%;
}

.flashWrapper{
  float:left;
  clear:both;
  margin-top: 10px;
}

.messageSuggestion{
  float:left;
  width:70%;

}

/*show poll view end */

/*my polls view */


/*my polls view end */
/*create poll view */

.createPollContainer{
  height:100%
  border: 6px solid red;
  overflow:auto;
}
.createPollWrapper{
margin-top: 20px;
float:left;
width:30%;
height:30%;
margin-left:35%;
border:4px solid white;
border-radius: 4px;
overflow:auto;
}

.formPollTitle,.formPollItems{
  margin:15px 5px 15px 5px;
}

.pollCreateButton{
  float:right;
  margin:15px 5px 5px 5px;
  background:white;
  color:   #19b5fe;
  padding: 5px;
  border-radius: 5px;
}

.pollCreateButton:hover{
color:#003366  !important;
}

/*create poll view end */

/*standardised formatting across app */

ul img{
height:20px;
float:right;
padding:5px 5px 0 0;
}

.imgHeight{
  height:40px !important;
}

a > span{
  margin-left: 5px;
}

h1{
  padding-top:15px;
  text-align:center;
  font-size: 50px !important;
}

.error{
  color: red;
}

textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #19b5fe !important;
}

.titleInput::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #19b5fe !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #19b5fe !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #19b5fe !important;
}

:-ms-input-placeholder {
   color: #19b5fe !important;
}

/* end of standardised formatting across app */

/* Footer */

.followMeWrapper{
  float:right;
  margin:10px 40px 0px 0px;
}


.followMeWrapper > h3{
  margin:0;
  padding:0;
}

.followMeWrapper > div {
 margin:0;
 padding:0;
 vertical-align: top;
}


.followMe{
  color:white
}

.followMe:hover{
  color:white;
}

.page-wrap {
  min-height: 100%;
  height: auto !important;
  /* equal to footer height */
  margin-bottom: -90px;

}

.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 90px;/*remember to change page-wrap margin bottom to same*/
}
.footer {
  background: #19b5fe;
  border-top: 2px solid white;
  position:relative;
}

.footer > span{
  position: absolute;
  bottom: 0;
  left:47%;
  font-size: 12px
}

/*End of Footer */
