@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,600';

/* App container*/

* {
margin: 0;
padding:0;
border:0;
}


html,body,.appContainer,.appContainer1 {
  height: 100%;
  background: #19b5fe;
  color:white;

}

.appContainer{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100%;
  color:white;
  background: #19b5fe;
  height:100%;
}

/* End of App container*/

/* Nav bar*/

nav.header{
  border-bottom: 2px solid white;
}

img.three_voters{
  height:36px;
  float:left;
}

.nav-item:not(:last-child) {
    border-right:solid 1px white;  /* This will not give border to last li element */
    padding-right:12px;
}
/*Nav bar end */

/*homepage */

.homepageWrapper{
  text-align:center;
}

.homepageWrapper #vote_logo{
  width:30%;
  margin-top:20px;
}

.homepageWrapper #casting_ballot_img{
  width:15%;
  margin-top:30px;
}

.homepageWrapper .introText{
  margin-top:30px;
}

.homepageWrapper .sign_up_but{
  margin-top: 40px;
  width:15%;
  background: white;
  color:#19b5fe;
  font-size: 28px;
  border-radius: 5px;
}

/*homepage end */





/*show poll view */
.showPollView{
background: white;
color:black;
}

.showPollView h1{
  color:black;
  font-size:6vw;
}

.pollWrappedContainers{
  overflow:auto;
  display:flex;
}

.leftPollContainer{
float:left;
width:60%;
}

.rightPollContainer{
float:right;
width:40%;
align-items: stretch;
flex: 1;
}

canvas{
  width:500px;
  height:500px;
}

.voteFormWrapper{
  clear:both;
  text-align: center;

}

.voteForm{
  padding-top: 20px;
}

.chartImg{
  height:50px;
  width:50px;
  padding-bottom:5px;
  margin-left:10px;
}

.pollTitle{
  text-align: center;
}

.keyTable{
  border:4px solid black;
  min-width:30%;
  float:left;
  border-radius: 7px;
  margin-top:30px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.keyTable> h3{
  text-align: center;
}

.keyColour{
  width:20px;
  height:20px;
  float:left;
  margin-left:10px;
}

.keyItem{
  margin-left: 10px;
}

.keyVotes{
  float:right;
  margin-right: 20px;
}


/*show poll view end */

/*my polls view */


/*my polls view end */


/*standardised formatting across app */
h1{
  text-align:center;
  font-size: 50px;
}

.error{
  color: red;
}
/* end of standardised formatting across app */

/* Footer */

.followMeWrapper{
  float:right;
  margin:10px 40px 0px 0px;
}
/*
.followMeWrapper > *{
  border:1px solid red;
}*/

.followMeWrapper > h3{
  margin:0;
  padding:0;
}
.followMeWrapper > div {
 margin:0;
 padding:0;
 vertical-align: top;
}


.followMe{
  color:white
}
.page-wrap {
  min-height: 100%;
  height: auto !important;
  /* equal to footer height */
  margin-bottom: -90px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer, .page-wrap:after {
  height: 90px;/*remember to change page-wrap margin bottom to same*/
}
.footer {
  background: #19b5fe;
}

/*End of Footer */
